.create-room {
  width: 50%;
}

.home-content {
  --background: var(--ion-color-light-shade);
}

.home-grid {
  max-width: 500px;
  font-size: 26px;
  color: var(--ion-color-primary);
  text-align: center;
}

ion-toolbar {
  text-align: center;
}

ion-title {
  font-size: 28px;
  font-style: oblique;
  color: var(--ion-color-primary);
}

.first-step-col {
  margin-top: 20%;
  margin-bottom: 10px;
}

.create-col {
  margin-bottom: 50px;
}

.share-col {
  margin-top: 8px;
  font-size: 20px;
}
