ion-col {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
  max-width: 75%;
}

ion-textarea {
  border: solid 1px #999;
}

.right-align {
  justify-content: flex-end;
}

.message-grid {
  padding-left: calc(100vw - 100%);
  margin-right: 0;
  height: 100%;
}

.message-input {
  margin-right: 0;
  border: solid 1px #bbb;
}

.my-msg {
  text-align: right;
  background: var(--ion-color-primary);
  color: #fff;
}

.other-msg {
  background: var(--ion-color-secondary);
  color: #fff;
}

.send-msg {
  align-items: center;
  justify-content: center;
  display: flex;
}

.send-button {
  width: 100%;
}
