ion-textarea {
  border: solid 1px #999;
}

.chat-card {
  height: 100%;
  width: 100%;
  float: right;
  margin: 0;
}

.input-card-row {
  position: fixed;
  width: 100%;
}

.input-card-col {
  margin: 0;
  border-top: solid 1px #999;
}

.input-card-content {
  padding: 0;
}

.send-msg {
  align-items: center;
  justify-content: center;
  display: flex;
}

.send-button {
  width: 100%;
}

.text-area {
  height: 100%;
}
