ion-textarea {
  border: solid 1px #999;
}

.chat-card {
  height: 100%;
  width: 100%;
  float: right;
  margin: 0;
}

.send-msg {
  align-items: center;
  justify-content: center;
  display: flex;
}

.send-button {
  width: 100%;
}

.message-input {
  height: 100%;
  border: 1px solid #999;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .message-input {
    border-radius: 10px;
    height: 35px;
  }

  .send-msg {
    display: none;
  }

  .native-input.sc-ion-input-ios {
    padding-inline-start: 5px;
  }
}
