ion-col {
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 4px;
  max-width: 70%;
}

.message-card {
  overflow-y: auto;
  height: calc(100% - 125px);
  padding: 0;
}

.message-grid {
  margin-right: 0;
  height: 100%;
}

.right-align {
  justify-content: flex-end;
}

.my-msg {
  background: var(--ion-color-primary);
  color: #fff;
}

.other-msg {
  background: var(--ion-color-secondary);
  color: #fff;
}
