.online-button {
  margin: 0 4px 0 0;
  align-self: center;
}

.popover-list {
  padding-top: 2px;
}

.online-popover .popover-content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-header {
  font-size: 24px;
  color: var(--ion-color-primary);
  border-bottom: 1px solid #999;
}

.online-item {
  --padding-start: 12px;
  --min-height: 0;
}

.online-label {
  margin-top: 8px;
  margin-bottom: 0;
}

ion-backdrop {
  cursor: default;
}
